:root {
  --bg: #3b4564;
  --text: #fdfffd;
  --cover: #181e33;
  --coverButton: #242d44;
  --button: #ebe2dc;
  --buttonText: #444a56;
  --buttonShadow: #b5a59b;
  --buttonPrimary: #657199;
  --buttonPrimaryText: #ffffff;
  --buttonPrimaryShadow: #404d75;
  --buttonSecondary: #d04031;
  --buttonSecondaryText: #ffebec;
  --buttonSecondaryShadow: #902315;

  --heightButton: 3.4rem;
  --heightShadowButton: 0.3rem;
  --heightShadowActive: 0.2rem;
}

body {
  margin: 0;
  color: var(--text);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: var(--bg);
  height: 100vh;
  height: 100svh;
}

.content {
  padding: 1.5rem;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}

.theme {
  font-size: 0.7rem;
  align-items: center;
}

.theme span {
  margin-right: 1.5rem;
}

.themeWrapper {
  align-items: center;
}

.themeText {
  width: 4rem;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.toggle {
  box-sizing: border-box;
  width: 4rem;
  padding: 0.25rem;
  background-color: var(--coverButton);
  border-radius: 1rem;
  justify-content: space-between;
}

.toggleButton {
  width: 30%;
}

.roundToggle {
  background-color: var(--buttonSecondary);
  border-radius: 1rem;
  width: 1rem;
  height: 1rem;
  transition: all 0.2s ease-in-out;
}

.cover {
  margin-top: 1.5rem;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  background-color: var(--cover);
  height: 6rem;
  border-radius: 0.5rem;
  padding: 1rem;
  align-items: center;
}

.cover .coverText {
  width: 100%;
  text-align: end;
  max-width: 100%;
  overflow: auto;
}

.calculator {
  box-sizing: border-box;
  margin-top: 1.5rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--coverButton);
}

.row {
  gap: 1rem;
  margin-bottom: 1rem;
}

.row:last-child {
  margin-bottom: 0;
}

.grid-4 {
  width: 25%;
}

.grid-2 {
  width: 50%;
}

.button {
  align-items: center;
  display: flex;
  justify-content: center;
  height: var(--heightButton);
  border-radius: 0.5rem;
}

@media only screen and (min-width: 600px) {
  :root {
    --heightButton: 4rem;
    --heightShadowButton: 0.4rem;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --heightButton: 4.5rem;
    --heightShadowButton: 0.45rem;
  }
}

.num {
  background-color: var(--button);
  color: var(--buttonText);
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 0 var(--heightShadowButton) var(--buttonShadow);
}

.op {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--buttonPrimary);
  color: var(--buttonPrimaryText);
  box-shadow: 0 var(--heightShadowButton) var(--buttonPrimaryShadow);
}

.equal {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--buttonSecondary);
  color: var(--buttonSecondaryText);
  box-shadow: 0 var(--heightShadowButton) var(--buttonSecondaryShadow);
}

.num:active {
  box-shadow: 0 var(--heightShadowActive) var(--buttonShadow);
}

.op:active {
  box-shadow: 0 var(--heightShadowActive) var(--buttonPrimaryShadow);
}

.equal:active {
  box-shadow: 0 var(--heightShadowActive) var(--buttonSecondaryShadow);
}

@media only screen and (min-width: 992px) {
  .wrapper .content {
    width: 480px;
    margin: auto;
  }
}
